/* css 주석 */
/* * {
    color: seagreen;
} */

/* h3 태그의 배경색상 변경 */
h3 {
    background-color: darkcyan;
}

/* p, pre 태그의 글자 색상 변경 */
p, pre {
    color: darkslateblue;
}

li {
    background-color: aqua;
}

#dataB {
    background-color: orange;
}

.c1 {
    color: red;
}

.c2 {
    color: green;
    font-size: 30px;
}