#ff1 {
    font-family: 궁서체;
}

#ff2 {
    font-family: 고딕체;
}

#ff3 {
    font-family: 성준, 궁서체;
    /* 첫 번째로 제시한 글꼴이 없는 경우 대체할 글꼴을 나열하여 작성 가능 */
}

.dongle-regular {
    font-family: "Dongle", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
}

#fs1 {
    font-size: 20px;
}

#fs2 {
    font-size: 1.5em;
}

#fs3 {
    font-size: 180%;
}

#fw1 {
    font-weight: bold; /* 700 정도 */
}
#fw2 {
    font-weight: bolder;
}
#fw3 {
    font-weight: lighter; /* 100 정도 */
}