div {
    width: 100px;
    height: 100px;
    border-width: 3px;
    margin: 1rem;
}

#border1 {
    border-style: dashed;
    border-top-width: 5px;
}

#border2 {
    box-shadow: 7px 7px 20px 5px pink;
}

#border3 {
    border-style: dotted;
    border-bottom-color: red;
}

#border4 {
    /* border-top-style: solid;
    border-right-style: dotted;
    border-bottom-style: double;
    border-left-style: dashed; */
    border-style: solid dotted double dashed;

    border-width: 6px;
}

#border5 {
    border-style: groove;
    border-width: 15px;
}

#border6 {
    border-style: ridge; /* groove 반대 */
    border-width: 15px;
}

#border7 {
    border-style: inset;
    border-width: 15px;
}

#border8 {
    border-style: outset;
    border-width: 15px;
}

#border9 {
    border-style: solid;
    /* border-radius: 25%; */
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: lightgreen;
    border-color: green;
}

#border10 {
    border: 10px double darkorange;
}

button {
    border: none;
    padding: 0.7rem;
    border-radius: 1rem;
}
button:hover {
    cursor: pointer;
    background-color: aqua;
    color: blue;
}