.outer {
    position: relative;
    border: 2px solid darkred;
}

.pos {
    border: 1px solid green;
}

#child1 {
    width: 300px;
    height: 300px;
    background-color: violet;
}

#child2 {
    position: absolute;
    left: 50px;
    top: 50px;
    /* 
        position: relative 스타일이 적용된 부모 요소로부터
        위에서 50px, 왼쪽에서 50px 간격을 두고 배치
    */

    width: 200px;
    height: 200px;
    background-color: skyblue;
}

#child3 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 100px;
    top: 100px;
    background-color: gold;
}

#fixed-area {
    width: 100px;
    height: 100px;
    background-color: seagreen;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
}

.z-style {
    border: 1px solid fuchsia;
    width: 150px;
    height: 150px;
    position: absolute;
}

#z1 {
    top: 100px;
    left: 100px;
    background-color: teal;
    z-index: 10000;
}
#z2 {
    top: 50px;
    left: 50px;
    background-color: tomato;
    z-index: 500;
}
#z3 {
    background-color: skyblue;
    z-index: 0;
}

.vs-style {
    width: 250px;
    height: 100px;
}

.f-style {
    border: 2px solid sandybrown;
    width: 70px;
    height: 30px;
    float: right;
}